.sprotty-node {
    fill: hsl(195, 29%, 89%);
    stroke: hsl(205, 76%, 10%);
    stroke-width: 1;
}

.sprotty-node.selected {
    stroke-width: 2;
    stroke: #0070be;
}

.sprotty-label {
    fill: black;
    stroke-width: 0;
}

.sprotty-button {
    fill: #B4B4B488;
}

.sprotty-edge .sprotty-label {
    fill: var(--theia-ui-font-color0);
}

.sprotty-edge {
    fill:none;
    stroke:#B4B4B4;
    stroke-width: 2px;
}

.sprotty-edge-arrow {
    fill:#B4B4B4;
}

.sprotty-edge > .sprotty-routing-handle {
    r: 5px;
    fill: #888;
    stroke: none;
    z-index: 1000;
}

.sprotty-edge > .sprotty-routing-handle[data-kind='line'] {
    opacity: 0.35;
}

.sprotty-edge > .sprotty-routing-handle.selected {
    fill: #0070be;
}

.sprotty-edge > .sprotty-routing-handle.mouseover {
    stroke: #0191f8;
    stroke-width: 1;
}

.sprotty-edge.mouseover:not(.selected) {
    stroke-width: 3px;
}

.sprotty-hidden {
    font-size: var(--theia-ui-font-size1);
    width: 0px;
    height: 0px;
}
#ros-diagram_0_sprotty_scan.publisher .sprotty-node{
	fill: black;
	transform:translate(-7.5px, 42px);
	
}

#ros-diagram_0_sprotty_control_command.subscriber rect{
	fill:black;
	transform: translate(140px,42px);
}

#ros-diagram_0_sprotty_null.label11{
	transform:translate(155px,42px);
}

#ros-diagram_0_sprotty_null.label10{
	transform:translate(-38px,42px);
    
}

.sprotty-port{
	transform: translate(5px);
	height: 24px;
	width: 79px;
}

#ros-diagram_0_sprotty_r2000_node.label5{
	transform:translate(10px, 16px);
}